div {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.div1 {
    background-color: red;
}

.div2 {
    background-color: green;
    position: relative;
    left: 20px;
    bottom: 85px;
}

.div3 {
    background-color: blue;
    position: relative;
    left: 40px;
    bottom: 165px;
}

.div4 {
    background-color: yellow;
    position: relative;
    left: 60px;
    bottom: 245px;
}

.div5 {
    background-color: plum;
    position: relative;
    left: 80px;
    bottom: 325px;
}