.zero{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: 5px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.hero{
width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: 5px;
    text-align: left;
    position: absolute;
    top: 0;
}
.fero {
    width: 100px;
        height: 100px;
        border: 1px solid red;
        margin: 5px;
        position: absolute;
        top: 0;
        right: 0%;
}

.tero {
    width: 100px;
        height: 100px;
        border: 1px solid red;
        margin: 5px;
       
        position: absolute;
        bottom: 0px;
        right: 0%;
}

.bero {
    width: 100px;
        height: 100px;
        border: 1px solid red;
        margin: 5px;
        text-align: left;
        position: absolute;
        bottom: 0px;
}