img{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: 5px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
