.p1{
    color: whitesmoke;
    position: fixed;
    left: 0%;
    top: 0%;
    background-color:red;
    font-weight: bold;
    margin: 6px;
    font-size: larger;
}
.p2{
color: whitesmoke;
        position: fixed;
        right: 0%;
        top: 0%;
        background-color: red;
            font-weight: bold;
            margin: 6px;
            font-size: larger;
}
.p3{
        color: whitesmoke;
    text-align: center;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: red;
                font-weight: bold;
                margin: 6px;
                font-size: larger;
}
.p4{
    color: whitesmoke;
        position: fixed;
        left: 0%;
        bottom: 0%;
        background-color: red;
            font-weight: bold;
            margin: 6px;
            font-size: larger;
}
.p5{
    color: whitesmoke;
        position: fixed;
        right: 0%;
        bottom: 0%;
    background-color: red;
        font-weight: bold;
        margin: 6px;
        font-size: larger;
}