.todo{
    border-width: 3px;
    border-color: blue ;
}

.dodo{
    border-width: 3px;
    border-color: rgb(15, 248, 15);
}
.foto{
    border-width: 3px;
        border-color: blue;
        padding: 0px;
        margin: 0px;
}
.joto{
    border-width: 3px;
        border-color: rgb(15, 248, 15);
}
.red{
    border-width: 3px;
        border-color: rgb(15, 248, 15);
}
.blue{
    border-width: 3px;
        border-color: rgb(15, 248, 15);
}

.flip{
    border-width: 3px;
        border-color: rgb(15, 248, 15);
}
.areal{
    border-width: 3px;
        border-color: rgb(15, 248, 15);
}